﻿@model TicketsApplicationSystem.Models.Ticket

@{
    ViewData["Title"] = "Информация";
}

<h1>Информация</h1>

<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Идентификатор заявки</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class = "col-sm-2">Название</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
        <dt class = "col-sm-2">Описание</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class = "col-sm-2">Дата создания</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.DateCreation)</dd>
        <dt class = "col-sm-2">Дата последнего изменения</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.DateChanged)</dd>
        <dt class = "col-sm-2">Статус</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.State.StateName)</dd>
        <dt class = "col-sm-2">Исполнитель</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Executor.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="History" asp-route-id="@Model.TicketNumber">Просмотреть историю</a>
    <a asp-action="Edit" asp-route-id="@Model.TicketNumber">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
