﻿@model TicketsApplicationSystem.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Заявка</h4>
<hr />

<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="TicketNumber" class="control-label">Номер заявки</label>
            <input asp-for="TicketNumber" class="form-control" disabled="disabled" />
            <input asp-for="TicketNumber" hidden />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label">Дата создания</label>
                <input asp-for="DateCreation" class="form-control" disabled="disabled" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
                <input asp-for="DateCreation" hidden />
            </div>
            <div class="form-group" id="stateInput">
                <label asp-for="StateId" class="control-label">Статус</label>
                <select asp-for="StateId" class="form-control" onchange="show_comment()" asp-items="ViewBag.StateName"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group" id="comment" style="display:none">
                <label asp-for="Comment" class="control-label">Комментарий</label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label">Исполнитель</label>
                <select asp-for="ExecutorId" class="form-control" asp-items="ViewBag.ExecutorName"></select>
                <span asp-validation-for="ExecutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>
<script type="text/javascript">
    function show_comment() {
        document.getElementById("comment").style.display = "block";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
