﻿@model IEnumerable<TicketsApplicationSystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Начальная страница</h1>

<p>
    <a asp-action="Create">Добавить заявку</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr class="align-content-center">
            <th>Номер заявки</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
            <th>Статус</th>
            <th>Исполнитель</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">@item.TicketNumber</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.DateCreation</td>
            <td>@item.DateChanged</td>
            <td>@item.State.StateName</td>
            <td>@item.Executor.Name</td>
            <td class="align-content-center">
                <a asp-action="Edit" asp-route-id="@item.TicketNumber">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.TicketNumber">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketNumber">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
